Networking 19/Networking 19.xcodeproj/project.xcworkspace/xcuserdata/vitaliikryvoshapka.xcuserdatad/UserInterfaceState.xcuserstate
Networking 19/Networking 19.xcodeproj/xcuserdata/vitaliikryvoshapka.xcuserdatad/xcschemes/xcschememanagement.plist
